*{
  margin: 0;
  padding: 0;
}
.head{
  background-color: #000;
  padding: 20px 25px;
}
.head h1{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
}
.box2{
  width: 45%;
  height: 400px;
  background-color: blue;
  display: inline-block;

}
.box3{
  height:370px;
  width: 54%;
 display: inline-block;
  margin: 20px 0;
  background-color: red;
}
.footer{
  height: 200px;
  background-color: lime;
}
